[submodule "vendors/glfw"]
	path = vendors/glfw
	url = git@github.com:ZhouyangYe/glfw.git
[submodule "vendors/glm"]
	path = vendors/glm
	url = git@github.com:ZhouyangYe/glm.git
[submodule "vendors/stb"]
	path = vendors/stb
	url = git@github.com:ZhouyangYe/stb.git
[submodule "vendors/fmt"]
	path = vendors/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "vendors/vk-bootstrap"]
	path = vendors/vk-bootstrap
	url = git@github.com:ZhouyangYe/vk-bootstrap.git
